*{margin: 0%;padding: 0%;
    font-family: 'Reggae One', cursive;
    /* box-sizing: border-box; */
}

body{
    height: 100vh;
    background:linear-gradient( 45deg,rgb(230, 201, 123), rgb(240, 201, 95));
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    height:270px ;
    /* min-width:100px ; */
    /* width: 300; */
    background: linear-gradient(45deg, rgb(12, 10, 10),rgb(73, 70, 70));
    box-shadow:rgba(47, 41, 41, 0.15) 0px 5px 15px 0px;
    padding-left:20px  ;
    border-radius: 20px;
    position: relative;
    color: seashell;
    transition: all 0.2s;
    /* box-sizing: 200px; */
    
}
.card img{
    height: 370px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50% ,-50%);
    transition: all 0.2s;
}
.card h2{
    margin-top: 20px;
    color:rgb(236, 181, 78) ;
    transition: all 0.2s;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.card p{
    width: 50%;
    margin-bottom: 25px ;
    transition: all 0.2s;
}
.card a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: rgb(236, 172, 53);
    padding: 5px 5px ;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.card p,a{
    transition: all 0.2s;
    opacity: 0.2;
}
.card a:hover{
    color: #000;
    background-color: rgb(236, 204, 143);

}
.card:hover img{
    left: 80%;
    height: 600px;

}
.card:hover h2{
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.card:hover p,.card:hover a{
    opacity: 1;
}
